/*
Raleway 700

Roboto 400 500 700 900
*/

/*
logo 
    blue #2196F3  
    black #000000
nav 
    blue #2196F3
    black #212121
    grey #757575

hero
    white #FFFFFF

main
    black #212121
    grey #757575

footer
    adress #FFFFFF 60

*/

:root {
  --logo-black-color: #000000;
  --primary-text-color: #757575;
  --background-section-color: #f5f4fa;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

/*логотип сайта*/
.logo {
  color: var(--logo-black-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo .web {
  color: var(--accent-color);
}

/* навігація сайтом*/
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.site-nav .adress {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 00.02em;

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .adress:hover,
.site-nav .adress:focus {
  color: var(--accent-color);
}

/*HERO*/
.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .link {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  text-decoration: none;
}

/*main*/
/*Особенности*/
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
  letter-spacing: 0.03em;
}
.features .title {
  color: var(--primary-white-color);
}

.features .features-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/*--Наша команда (фото)*/
.team {
  background-color: var(--background-section-color);
}
.team .team-member {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}

.team .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}

/*footer*/
footer {
  background-color: var(--footer-background-color);
}

footer .studio {
  color: var(--primary-white-color);
}
footer .footer-adress {
  color: var(--primary-white-color);

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration: none;
}

footer .mail,
footer .phone-number {
  color: var(--footer-adress-color);

  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration: none;
}

/*сторінка Портфоліо*/

.portfolio .filter {
  color: var(--title-text-color);
  background-color: var(--background-section-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.portfolio .filter:hover,
.portfolio .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio .category {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  text-decoration: none;
}

.portfolio .category-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
}
